:host {
  padding-bottom: .5rem;
}

d-breadcrumb {
  cursor: pointer;

  ::ng-deep {
    ul {
      padding: .7rem 0;
    }
  }
}

.back {
  gap: .5rem;
  display: flex;
  line-height: 1px;
  align-items: center;
}
