<div class="frame">
  <header *ngIf="show.header">
    <div class="start">
      <ng-container *ngIf="headerStartStartTpl">
        <ng-container *ngTemplateOutlet="headerStartStartTpl"></ng-container>
      </ng-container>
      <a class="notification" routerLink="/notifications" [ngClass]="{active: router.url.startsWith('/notifications')}">
        <i class="fal fa-bell" [ngClass]="(notificationCount > 0 ? 'move' : '')"></i>
        <span *ngIf="notificationCount > 0" class="badge">{{ notificationCount }}</span>
      </a>
      <ng-container *ngIf="headerStartEndTpl">
        <ng-container *ngTemplateOutlet="headerStartEndTpl"></ng-container>
      </ng-container>
    </div>
    <div class="center">
      <div class="logo">
        <span>{{ 'main.title' | translate }}</span>
      </div>
      <div class="user-name">
        {{ user?.name }}
      </div>
    </div>
    <div class="end">
      <ng-container *ngIf="headerEndStartTpl">
        <ng-container *ngTemplateOutlet="headerEndStartTpl"></ng-container>
      </ng-container>
      <a class="reload" (click)="reload()">
        <i class="fal fa-refresh"></i>
      </a>
      <ng-container *ngIf="headerEndEndTpl">
        <ng-container *ngTemplateOutlet="headerEndEndTpl"></ng-container>
      </ng-container>
    </div>
  </header>
  <main>
    <ng-content></ng-content>
  </main>
  <footer *ngIf="show.footer && menus.length > 0">
    <ul>
      <li *ngFor="let menu of menus" [ngClass]="[menu.class ?? '', (selectedMenu == menu ? 'selected' : '')]">
        <a [routerLink]="menu.link">
          <i *ngIf="menu.icon" [class]="menu.icon"></i>
          <span *ngIf="menu.text">{{ menu.text | translate }}</span>
        </a>
      </li>
    </ul>
  </footer>

  <a *ngIf="show.home" class="home-btn" [routerLink]="'/'">
    <i class="far fa-home"></i>
  </a>

  <d-message-container position="top-center"></d-message-container>
  <d-dialog-container></d-dialog-container>
</div>
